
*.pyc
/Splendor/Environment/Splendor_components/Board_components/__pycache__
/Splendor/RL/trained_agents
/Splendor/meta/images_backup
Splendor/states.csv
Splendor/next_states.csv
*.pkl
Splendor/To-Do list.txt
